#  Core build artefacts

# Rust
/target/
# Go
/stt-wrapper/bin/
**/*.test
# Python
.venv/
env/
# pip / poetry / hatch / pdm
*.egg-info
dist/
build/

# Caches & logs (language-agnostic)
__pycache__/
/*.log
*.log
.cache/
coverage.xml
.coverage*
htmlcov/

# Editor / IDE
# IntelliJ / PyCharm / GoLand / RustRover
idea/
/*.iml

# OS
.DS_Store
Thumbs.db